.about-full {
  height: 76vh;
}

.about-full-Dark {
  background-color: #000000;
}

.about-div {
  align-items: center;
  background-color: rgb(240, 237, 237);
  border-radius: 20px;
  box-shadow: 0px 5px 15px black;
  display: flex;
  height: 470px;
  justify-content: space-around;
  margin: 10px auto auto auto;
  width: 1150px;
}

.about-div-Dark {
  background: linear-gradient(130deg, #1a1a1a, #292828);
  color: white;
}