.home-full-Dark {
  background-color: #000000;
}

.home-div {
  align-items: center;
  background-color: rgb(240, 237, 237);
  border-radius: 20px;
  box-shadow: 0px 5px 15px black;
  display: flex;
  height: 440px;
  justify-content: space-around;
  margin: 10px auto auto auto;
  width: 1150px;
}

.home-div-Dark {
  background: linear-gradient(180deg, #1a1a1a, #2c2c2c);
  color: white;
}

.home-text {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 410px;
  justify-content: space-between;
  margin-left: 20px;
  width: 600px;
}

.home-text img {
  height: 90px;
}

.home-text button {
  background: linear-gradient(180deg, #0A3E46, #1036db);
  border: none;
  border-radius: 15px;
  color: white;
  height: 38px;
  margin-right: 10px;
  width: 125px;
}

.home-text button:hover {
  box-shadow: 0px 2px 7px #0f6370;
  height: 37px;
  width: 124px;
}

.home-text .skill {
  height: 91.3px;
  margin-right: 20px;
}

.tools {
  align-items: end;
  display: flex;
}

.home-img {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 410px;
  justify-content: center;
  width: 430px;
}

.home-img img {
  border-radius: 200px;
  box-shadow: 3px 3px 8px #0A3E46;
  height: 380px;
}

.home-img img:hover {
  box-shadow: 3px 3px 8px #0f6370;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 15px;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

strong {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 17.5px;
}

@media only screen and (max-width: 767px) {
  .home-div {
    flex-direction: column;
    height: auto;
    width: 345px;
  }

  .home-text {
    margin-left: 10px;
    height: auto;
    width: 300px;
  }

  .home-text .skill {
    height: 70px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .home-text img {
    height: 65px;
  }

  .home-text button {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 115px;
  }

  .home-text button:hover {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 115px;
  }

  h1 {
    font-size: 25px;
  }

  strong {
    font-size: 16px;
  }


  .home-img {
    height: 380px;
    width: 385px;
  }

  .home-img img {
    height: 310px;
  }
}